@{
    ViewBag.Title = "Home Page";
}

<div class="pagetitle">
    <h2>Askrindo - Manajemen Risiko</h2>
</div>

@*<p style="font-size: 1.3em; font-weight:bold; color: Blue">
    Ganti semua path pada JavaScript dengan <span style="color: Red">VirtualPathUtility.ToAbsolute</span>
<p>*@

<p>
    Dalam pedoman manajemen risiko, Askrindo mendefinisikan risiko dan manajemen risiko
    sebagai berikut:
</p>
<ul>
    <li>Risiko adalah kemungkinan sebuah kejadian yang dapat terjadi dan berpengaruh secara
        negatif terhadap proses pencapaian tujuan Askrindo. Pengaruh negatif dimaksud dapat
        berupa hambatan yang membatasi kemampuan Askrindo dalam menjalankan kegiatan usahanya
        atau dalam mengambil kesempatan untuk mengembangkan usaha (opportunity loss). Potensi
        kerugian ini dapat berbentuk kerugian keuangan maupun non-keuangan. </li>
    <li>Manajemen risiko adalah suatu proses yang digunakan oleh suatu perusahaan dalam
        mengidentifikasi, mengukur, mengawasi, dan meminimalkan pengaruh yang merugikan
        dari suatu risiko dengan mengidentifikasi, memantau, mengevaluasi, dan mengendalikan
        risiko tersebut dan menerapkan sebuah metode pengendalian yang efektif. </li>
</ul>
<p>
    Dengan mendefinisikan risiko sebagai hal yang dapat mempengaruhi pencapaian tujuan
    usaha, Askrindo menyadari arti penting manajemen risiko dan memastikan bahwa perusahaan
    mampu memenuhi tujuan dan kewajibannya terhadap keinginan stakeholder.
</p>
<p>
    Konsep manajemen risiko yang diimplementasikan Askrindo adalah berwawasan dan berprinsip
    pada manajemen risiko korporat terintegrasi. Manajemen risiko korporat terintegrasi
    adalah suatu proses pengelolaan risiko, yang melibatkan Pengurus Askrindo dan seluruh
    jajaran manajemen yang terintegrasi dalam proses penentuan strategi di seluruh unit
    kerja. Konsep manajemen risiko dirancang untuk mengidentifikasikan peristiwa-peristiwa
    (events) yang berpengaruh negatif bagi perusahaan dan mengelola risiko agar selalu
    berada di dalam batas toleransi. Dengan demikian manajemen selalu memiliki keyakinan
    yang memadai bahwa sasaran perusahaan akan dapat dicapai tanpa halangan dan ancaman
    yang signifikan.
</p>
