@model AskrindoMVC.Models.Risk

<div style="font-size: .85em; border: 1px solid #ddd; padding: 8px; background-color: #E6ECF2; line-height: 1.4em">
    <strong>@Html.DisplayFor(m => m.RiskCode)</strong> - @Html.DisplayFor(m => m.RiskDate)
    <div>
        @Html.DisplayFor(m => m.RiskName)
    </div>
</div>