@model AskrindoMVC.Models.Risk

<div style="padding-bottom: 0px; font-size: .8em; line-height: 1.5em; padding: 6px; background-color: #E6ECF2; border: 1px solid #ddd">
    <strong>@Html.DisplayFor(m => m.RiskCode)</strong> - @Html.DisplayFor(m => m.RiskDate)<br />
    @Html.DisplayFor(m => m.RiskName)
</div>


