@model AskrindoMVC.Models.RiskMitigation

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/RiskData/Views/Shared/_MitigationList.cshtml";
}

<h3>Hapus Mitigasi Risiko</h3>

<div style="padding-bottom: 12px" class="warning">
    Data mitigasi risiko berikut akan dhapus. Lanjutkan?
</div>

@Html.Partial("~/Views/RiskInfo/_MitigationDetailWarning.cshtml", Model)

@using (Html.BeginForm())
{ 
    <div style="padding-top: 12px">
        <input type="submit" value="Hapus" /> |
        @Html.ActionLink("Batal", "MitigationList")
    </div>
}