@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2>
    Maaf, ada kesalahan pemrosesan data. 
    
</h2>
<h3>
    Jika kesalahan ini terjadi berulang kali silahkan menghubungi bagian Manajemen Risiko Askrindo
    </h3>
