@{
    ViewBag.Title = "ApproveRiskSuccess";
    Layout = "~/Areas/RiskData/Views/Shared/_Risk.cshtml";
}

<h3>Approve Risk</h3>

<div style="padding-bottom: 12px">
    Data peristiwa risiko telah di-approve
</div>

@Html.ActionLink("Daftar Risiko", "RiskList")
