@model AskrindoMVC.Models.Risk

@{
    ViewBag.Title = "CancelRiskClosure";
    Layout = "~/Areas/RiskData/Views/Shared/_Risk.cshtml";

    //AskrindoMVCEntities db = new AskrindoMVCEntities();
    //var orgList = Utils.GetOrgPosNames(Model.UserInfo, db);
}

<h3>Pembaltalan Penutupan Risiko</h3>

<div style="padding-bottom: 12px" class="warning">
    Penutupan data peristiwa risiko berikut akan dibatalkan.Lanjutkan?
</div>

@Html.Partial("_RiskState", Model)

@using (Html.BeginForm())
{ 
    <div style="padding-top: 12px">
        <input type="submit" value="Batalkan Penutupan Risiko" /> |
        @Html.ActionLink("Batal", "RiskListAdmin")
    </div>
}
