@{
    ViewBag.Title = "DisapproveMitigationSuccess";
    Layout = "~/Areas/RiskData/Views/Shared/_Risk.cshtml";
}

<h3>Pembatalan Approve Mitigasi Risiko</h3>

<div style="padding-bottom: 12px">
    Approve data mitigasi risiko telah dibatalkan
</div>
