@{
    ViewBag.Title = "NewRiskError";
    Layout = "~/Areas/RiskData/Views/Shared/_NewRisk.cshtml";
}

<div class="error_message">
    Hanya Risk Owner yang bisa meng-input data peristiwa risiko
</div>
