@{
    ViewBag.Title = "Index";
}

<div class="pagetitle">
    <h2>Test</h2>
</div>

<ul>
    <li>@Html.ActionLink("GetExcel - via GridView", "GetExcel")</li>
    <li>@Html.ActionLink("GetExcel - Created Manually", "GetExcelManual")</li>
</ul>
